*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding:0;
}

.container{
    display:flex;
    flex-wrap: nowrap; /* can delete this line, since flex container is defaulted to be "nowrap"*/
    height:20em;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.graph{
    background-color:lightblue;
    width: 14%;
}

.bar-1{
    height: 20%;
}

.bar-2{
    height: 30%;
}

.bar-3{
    height: 20%;
}

.bar-4{
    height: 60%;
}

.bar-5{
    height: 90%;
}